<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	
<h3>This is a progressive web app and cache stuff </h3>

  <div id="go-offline"></div>


<script>

if ("serviceWorker" in navigator){
	navigator.serviceWorker.register("/javascripts/sw.js").then(function(registration){
		console.log("service worker worked! yo ho!", registration.scope)
	}).catch(function(error){
			console.log("Devs here is the Error:", error);
		})
}




</script>

</body>
</html>