<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mail Example</title>
	<link rel="stylesheet" href="">

	<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
<link rel="icon" href="/public/favicon.ico" type="image/x-icon">
</head>
<body>

	hi there this is cool don't you think?

	<form action="/pluto" method="post">
  From<br>
  <input type="text" name="from"><br>
   subject:<br> <br>
  <input type="text" name="subject">
    text:<br> <br>
  <input type="text" name="text">

    <input type="submit" value="Submit">

</form>




	
</body>
</html>