
@media screen and (min-width: 320px) {


body{
background-color: black;
}

.time-panel{
background-color:  #e63900;
width: 100%;
height: 40px;
color: white;
font-size: 0.8em;
text-align: center;
padding-top: 10px;
}


.headline{
   color: white;
}

ul{
    list-style-type:none;
    padding:0;
  }


  li{
/*    margin-bottom: 3px;
*/    background-color: black;
  }


.green-box{
    text-justify: inter-word;
    width: 100%;
    font-size: 1.1em;
    color: white;
    margin-bottom: -18px;
}

.the-image{
background-color: red;
width: 100%;
}

.add-margin{
    background-color: grey;
    padding: 10px;
}



}
